<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft2242.one.dao.BuildingDao">


<!--    <select id="getList" resultType="com.soft2242.one.entity.Building">-->
<!--        SELECT t2.*-->
<!--        FROM t_building t2 WHERE t2.deleted = 0-->
<!--        <if test="buildingName!=null and buildingName.trim() != ''">-->
<!--            AND t2.building_name LIKE CONCAT('%',#{building_name},'%')-->
<!--        </if>-->
<!--    </select>-->
    <select id="getList" resultType="com.soft2242.one.vo.BuildingVO">
        SELECT t2.id ,t2.community_id ,t1.community_name as communityName , t2.building_name ,t2.units,t2.used_area,t2.content,t2.create_time
        FROM t_building t2,t_community t1  WHERE t1.id=t2.community_id
        AND t2.deleted = 0
        <if test="buildingId!=null and buildingId.trim() != ''">
            AND t2.building_id = #{buildingId}
        </if>
        <if test="buildingName!=null and buildingName.trim() != ''">
            AND t2.building_name LIKE CONCAT('%',#{buildingName},'%')
        </if>
        <if test="communityName!=null and communityName.trim() != ''">
            AND t1.community_name LIKE CONCAT('%',#{communityName},'%')
        </if>
        <if test="units!=null and units.trim() != ''">
            AND t2.units LIKE CONCAT('%',#{units},'%')
        </if>
    </select>

</mapper>
