<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soft2242.one.dao.VisitorInvitationMapper">
    <select id="findAll" resultType="com.soft2242.one.entity.VisitorInvitation">
        select * from t_visitor_invitation where user_id = #{userId}
    </select>

</mapper>