<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soft2242.one.dao.PassRecordDao">

    <select id="selectPageByQuery" resultType="com.soft2242.one.vo.PassRecordVO" parameterType="com.soft2242.one.query.PassRecordQuery">
        SELECT tu.real_name as username, td.door_name as doorName, tc.community_name as communityName, pr.pass_way,
        pr.create_time
        FROM t_pass_record pr
        LEFT JOIN t_user tu on pr.user_id = tu.id
        LEFT JOIN t_door td on pr.door_id = td.id
        LEFT JOIN t_community tc on pr.community_id = tc.id
        WHERE pr.deleted = 0
        <if test="userId != null">
            AND pr.user_id = #{userId}
        </if>
        <if test="communityId != null">
            AND pr.community_id = #{communityId}
        </if>
        <if test="passWay != null">
            AND pr.pass_way = #{passWay}
        </if>
        <if test="doorId != null">
            AND pr.door_id = #{doorId}
        </if>
        LIMIT ${page - 1}, ${limit}
    </select>
</mapper>